.scan-output {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 0.5em;
    gap: 20px;
    background-color: rgb(40, 40, 40);
    color: #0070f3;
}

.scan-output h1{
    text-align: center;
}

.reader-information{
    text-align: center;
}