header {
    background-color: #303030;
    padding: 1em;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 25px;
}

nav ul li {
    text-align: center;
    display: inline;
}

nav li :hover {
    color: #0070f3;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}